<section id="category1">
<div class="row">
    <h3 class="well">
    Category 1!
    </h3>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right"><i class="fa fa-inr"></i>24.99</h4>
                <h4><a href="#">First Product</a>
                </h4>
                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right"><i class="fa fa-inr"></i>64.99</h4>
                <h4><a href="#">Second Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right"><i class="fa fa-inr"></i>74.99</h4>
                <h4><a href="#">Third Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>
</section>
<div class="row">
<h3 class="well">
Category 2!
</h3>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right"><i class="fa fa-inr"></i>24.99</h4>
            <h4><a href="#">First Product</a>
            </h4>
            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right"><i class="fa fa-inr"></i>64.99</h4>
            <h4><a href="#">Second Product</a>
            </h4>
            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right"><i class="fa fa-inr"></i>74.99</h4>
            <h4><a href="#">Third Product</a>
            </h4>
            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>
</div>
<section id="category3">
<div class="row">
<h3 class="well">
Category 3!
</h3>
<div class="col-sm-4 col-lg-4 col-md-4">
<div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
        <h4 class="pull-right"><i class="fa fa-inr"></i>24.99</h4>
        <h4><a href="#">First Product</a>
        </h4>
        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
    </div>
</div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
<div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
        <h4 class="pull-right"><i class="fa fa-inr"></i>64.99</h4>
        <h4><a href="#">Second Product</a>
        </h4>
        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4">
<div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
        <h4 class="pull-right"><i class="fa fa-inr"></i>74.99</h4>
        <h4><a href="#">Third Product</a>
        </h4>
        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>
</div>
</div>
</section>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>