<div ng-controller="SideMenu">
    <div class="mini-submenu" style="background-color: #04488B; border-color: #04488B;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item bgcolor">
        Submenu
        <span class="pull-right" id="slide-submenu">
        <i class="fa fa-times"></i>
        </span>
        </span>
        <a href="#category3" class="list-group-item">
        <i class="fa fa-comment-o"></i>Category 1
        </a>
        <a href="#" class="list-group-item">
        <i class="fa fa-search"></i> Category 2
        </a>
        <a href="#" class="list-group-item">
        <i class="fa fa-user"></i> Category 3
        </a>
        <a href="#" class="list-group-item">
        <i class="fa fa-folder-open-o"></i> Category 4
        </a>
        <a href="#" class="list-group-item">
        <i class="fa fa-bar-chart-o"></i> Category 5
        </a>
        <a href="#" class="list-group-item">
        <i class="fa fa-envelope"></i> Category 6
        </a>
    </div>
</div>